table {
    border-collapse: collapse;
  }
  

  h1 {
    background-color: rgb(248, 203, 173);
    margin: 0px;
  }
  

  h2 {
    background-color: rgb(255, 230, 153);
    margin: 0px;
  }
  

  .nose {
    height: 20px;
  }
  

  th {
    border: solid 1px rgb(207, 207, 207);
    font-family:Calibri, 'Trebuchet MS', sans-serif;
  }
  

  td {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    border: solid 1px rgba(186, 183, 183, 0.7);
    width: 100px;
  }
  

  .linea-verde {
    background-color: rgb(206, 224, 196);
    width: 100px;
  }
  

  .total {
  background-color: rgb(0, 176, 240);
  
  }
